
.vsconfig
1342257_sample.sln
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assets/Readme.asset
Assets/Readme.asset.meta
Library/
Logs/
UserSettings/
Temp/
command_line_build_test.sln
MyGame.apk
MyGame_BackUpThisFolder_ButDontShipItWithYourGame/
MyGame_BurstDebugInformation_DoNotShip/